@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Car Insurance</h2>


</div>
<figure class="figure text-center">
    <img src="~/images/man-362150_1920.jpg" class="figure-img img-fluid rounded" style="width: 100%" alt="Working man">

</figure>